# Resources required by the sample browser and most samples.
[Essential]
Zip=../media/packs/SdkTrays.zip
FileSystem=../media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
FileSystem=../media/fonts
FileSystem=../media/materials/programs
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/scene_loader_application/scenes/Mountains
Zip=../media/packs/skybox.zip
Zip=../media/packs/cubemapsJS.zip

[General]
FileSystem=../media
